@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$theme-colors: map-merge(
  $theme-colors,
  (
    // override colors here
    // eg. "primary": $primary,
  )
);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap";

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}